@charset "utf-8"

* {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, aqua, blue);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}

header {
  background-color: rgb(11, 11, 11);
  margin-top: 3px;
  border-radius: 7px 7px 0px 0px;
  width: 90px;
  margin: auto;
}

header > h1 {
  text-align: center;
  color: rgb(25, 122, 208);
  padding: 3px;
  text-shadow: rgb(13, 220, 151);
  margin-top: 17px;
}

#burguer {
  background-color: blue;
}

menu {
  color: rgb(208, 138, 46);
  text-align: center;
  list-style-type: none;
  width: 90px;
  margin: auto;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  background-color: bisque;
  border-radius: 0px 0px 0px 0px;
  color: rgb(5, 4, 4);
  margin: auto;
}

menu > ul > li > a:hover {
  background-color: rgb(16, 104, 181);
  color: rgb(8, 8, 8);
  text-decoration: none;
}

main {
  background-color: antiquewhite;
  width: 90vw;
  margin: auto;
  border-radius: 7px 7px 0px 0px;
  padding: 3px;
}

article > h2 {
  padding-bottom: 17px;
}

article > p {
  text-align: justify;
  margin-bottom: 17px;
  text-indent: 17px;
}

footer {
  background-color: burlywood;
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  width: 90px;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}

img#CLEAN CODE {
  display: block;
}

img#MODULAÇÃO {
  display: none;
}

img#INICIO {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  body {
    background-image: url("https://i.imgur.com/8Q5Q6.jpg");
  }
}

#burger {
  display: none;
}

menu {
  display: block;
  width: 90vw;
  margin: auto;
  background-color: rgb(17, 17, 17);
}

menu > ul > li {
  display: inline-block;
  background-color: aquamarine;
}

main {
  width: 90vw;
  margin: auto;
}

article > h2 {
  padding-bottom: 17px;
  width: 90vw;
  margin: auto;
}

article > p {
  text-align: justify;
  margin-bottom: 17px;
  text-indent: 17px;
}

footer {
  width: 90vw;
  margin: auto;
}

img#CLENACODE {
  display: none;
}

img#MODULAÇÃO {
  display: block;
}

img#INICIO {
  display: none;
}

@media screen and (min-width 993px) and (max-width 1200px) {
}

#burguer {
  display: none;
}

menu {
  display: block;
  background-color: beige;
}

menu>ul>li {
   display: inline-block;
   background-color: blueviolet;
}

main {
   width: 90vw;
}

article>h2 {
   text-align: justify;
   margin-bottom: 17px;
   text-indent: 17px;
}


footer {
   width: 90vw;
   margin: auto;
}

