@charset "utf-8"
*{
  box-sizing: border-box;
  margin:17px;
  padding:3px;
  box-sizing: 20px;    
}

header{
    background:linear-gradient(#602F6B, #FF6F00);
    border-radius:35px;
    border:35px;
    text-align:center;

}

p{
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    color:#66FFB3;
}

h2{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    color:#FFC857;
}

img{
    width: 30%;

}

body{
    
    background:linear-gradient(#1B3B5F,#602F6B);
    background-attachment: fixed;
}